.tasks {
  font-weight: 500;

  &__inner {
    @include tablet-xl {
      @include dynamic-width(706px, $tablet-xl-width, $pd-tablet);
    }

    @include desktop {
      @include dynamic-width(803px, $desktop-width, $pd-desktop);
    }

    @include desktop-xl {
      @include dynamic-width(960px, $desktop-xl-width, $pd-desktop-xl);
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;

    @include tablet-xl {
      padding-top: 120px;
      padding-bottom: 145px;
    }

    @include desktop {
      padding-bottom: 218px;
    }
  }

  &__title {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 64px;
    }

    @include tablet-xl {
      margin-bottom: 80px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    width: 340px;
    height: 300px;
    background-size: cover;

    &--embedded {
      width: 300px;
      height: 300px;
    }

    @include desktop {
      right: 75px;
    }

    @include tablet-xl {
      display: block;
    }
  }

  &__react-animation {
    display: grid;
    margin: 0 auto;
    border: 3px solid transparent;
    border-radius: 50%;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
    animation: l2 10s infinite linear;

    &::before,
    &::after {
      content: "";
      border: inherit;
      border-radius: 50%;
      background: inherit;
      animation: inherit;
      animation-duration: 12s;
      grid-area: 1/1;
    }

    &::after {
      --s: -1;
    }

    &--ml,
    &--frontend {
      border: 3px solid;
      color: $color-frontend-page-primary;
    }

    &--embedded,
    &--design {
      box-shadow: inset 0 0 0 100vw $color-black;

      &::after,
      &::before {
        mask:
          linear-gradient(
            #fff 0 0
          ) padding-box,
          linear-gradient(#fff 0 0);
        mask-composite: destination-out;
      }
    }

    &--design {
      background:
        linear-gradient(
          234deg,
          $color-design-page-primary 0%,
          $color-design-page-secondary 78.13%
        );
    }

    &--embedded {
      background:
        linear-gradient(
          225deg,
          rgb(251, 138, 238) 50%,
          rgb(108, 121, 240) 100%
        );
    }

    @keyframes l2 {
      100% {
        transform: rotate(calc(var(--s, 1) * 1turn));
      }
    }
  }
}
