.frontend {
  background-color: $color-black;

  &__hero-block-container {
    @include tablet-xl {
      position: relative;
    }
  }

  &__form-button {
    margin-bottom: 24px;
    padding: 12px 40px;
    font-size: 16px;
    line-height: 1.37;
    background-image: none;
    background-color: $color-purple-page-primary;
    transition: all 0.5s;

    &::after,
    &::before {
      display: none;
    }

    &:hover {
      border: 1px solid $color-purple-page-primary;
      background: rgba($color-purple-page-primary, 0.3);
    }

    @include tablet {
      flex: none;
      margin: 0;
      margin-right: 24px;
      min-width: 182px;
    }

    @include desktop {
      margin-right: 32px;
      font-size: 18px;
      line-height: 28px;
    }

    @include desktop-xl {
      font-size: 20px;
    }
  }
}
