.form-block {
  $this: &;

  padding-bottom: 56px;

  &__inner {
    @include desktop {
      padding-left: 413px;
    }

    @include desktop-xl {
      padding-left: 496px;
    }
  }

  &__title {
    margin-bottom: 48px;

    @include desktop {
      margin-bottom: 64px;
    }
  }

  &__title-technology {
    display: block;
    max-width: 520px;
    color: $color-white-alpha-200;

    @include desktop {
      max-width: 700px;
    }

    @include desktop-xl {
      max-width: 800px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 56px;
    color: $color-white-alpha-100;
  }

  @include tablet {
    padding-bottom: 80px;
  }

  @include desktop {
    padding-bottom: 104px;
  }

  @include desktop-xl {
    padding-bottom: 176px;
  }
}
