.form-block {
  $this: &;

  padding-bottom: 56px;

  &__inner {
    @include tablet-xl {
      max-width: 800px;

      &--technology {
        max-width: none;
      }

      @include desktop {
        min-width: 803px;
      }

      @include desktop-xl {
        min-width: 960px;
      }
    }

    @include desktop {
      max-width: 803px;
    }

    @include desktop-xl {
      max-width: 960px;
    }
  }

  &__title {
    margin-bottom: 48px;

    @include desktop {
      margin-bottom: 64px;
    }
  }

  &__title-gradient {
    @include gradient-text;
  }

  &__title-technology {
    display: block;
    max-width: 520px;
    color: $color-white-alpha-200;

    @include desktop {
      max-width: 700px;
    }

    @include desktop-xl {
      max-width: 800px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 56px;
    color: $color-white-alpha-100;
  }

  &--zh {
    #{$this}__inner {
      @include tablet-xl {
        max-width: 840px;
      }

      @include desktop-xl {
        max-width: 980px;
      }
    }
  }

  @include tablet {
    padding-bottom: 80px;
  }

  @include desktop {
    padding-bottom: 104px;
  }

  @include desktop-xl {
    padding-bottom: 176px;
  }
}
