.named-list {
  font-weight: 500;

  > *:not(:last-child, :first-child) {
    margin-bottom: 8px;

    @include tablet-xl {
      margin-bottom: 16px;
    }
  }

  &__title {
    margin-bottom: 16px;
    max-width: 185px;
    color: $color-white-alpha-200;

    @include tablet-xl {
      margin-bottom: 48px;
      max-width: 210px;
    }
  }

  &__item {
    font-size: 18px;
    line-height: 1.33;

    @include tablet-xl {
      font-size: 20px;
      line-height: 1.4;
    }

    @include desktop {
      font-size: 24px;
      line-height: 1.33;
    }

    @include desktop-xl {
      font-size: 28px;
      line-height: 1.35;
    }
  }

  @include tablet-xl {
    padding-right: 32px;
  }
}
