.services-technology-card {
  position: relative;
  display: block;
  border-radius: 24px;
  padding: 32px 24px;
  height: 100%;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  background-image: $color-dark-card;
  background-color: $color-black;

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    font-size: 18px;
    line-height: 1.33;
    color: $color-white-alpha-100;

    @include tablet-xl {
      line-height: 1.5;
    }

    @include desktop {
      line-height: 1.55;
    }

    @include desktop-xl {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &--ml::after,
  &--frontend::after,
  &--design::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: block;
    border-radius: 24px;
    width: 100%;
    height: 100%;

    // TODO uncomment and delete opacity:1 when all pages are ready
    // opacity: 0;

    transition: all 0.3s ease-in-out;
  }

  &--ml {
    &::after {
      background-color: $color-ml-page-primary;
    }
  }

  &--frontend {
    &::after {
      background-image: $color-dark-purple-card;
    }
  }

  &--design {
    &::after {
      background-image:
        linear-gradient(
          233deg,
          $color-design-page-primary -19.07%,
          $color-design-page-secondary 73.95%
        );
    }
  }

  &--ml:hover::after,
  &--frontend:hover::after,
  &--design:hover::after {
    opacity: 1;
  }

  @include desktop {
    min-height: 340px;
  }

  @include tablet-xl {
    padding: 40px 24px 48px;
  }
}
