.projects-redesign {
  $grid-mobile-gap: 32px;
  $grid-desktop-gap: 12px;

  padding-top: 40px;
  padding-bottom: 32px;
  background-color: $color-white;

  &__cards {
    gap: $grid-mobile-gap;

    @include desktop {
      gap: $grid-desktop-gap;
    }
  }

  // adds padding to the last block in the chain
  &:not(:has(+ &)) {
    padding-bottom: 80px;
  }

  & + & {
    padding-top: 0;
  }

  @include desktop {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
