.projects-redesign {
  background-color: $color-white;

  &__title {
    @include h3;

    color: $color-black;

    @include desktop {
      margin-bottom: 48px;
    }
  }

  &__cards {
    display: grid;

    @include desktop {
      gap: 12px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__clients {
    &-title {
      @include body-m;

      color: $color-black-60;

      @include desktop {
        margin-bottom: 24px;
      }
    }

    &-names {
      @include desktop {
        margin-bottom: 8px;
      }
    }

    @include desktop {
      padding: 0 20px;
    }
  }

  &__client {
    &-nda,
    &-comma,
    &-link,
    &-name {
      @include accent-text;
    }

    &-nda {
      color: $color-deep-blue;
    }

    &-comma,
    &-name,
    &-link {
      color: $color-black;
    }

    &-link {
      transition: color 0.6s ease-out;

      &:hover,
      &:focus {
        color: $color-pink-redesign;
      }
    }
  }

  @include desktop {
    padding-top: 80px;
    padding-bottom: 48px;
  }
}
