**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode

**/.git
**/.gitignore
**/.gitattributes
**/.dockerignore

**/bin
**/obj
**/node_modules
**/npm-debug.log

**/.devcontainer
**/docker-compose*
**/Dockerfile*

.env.development
.env.production

.eslintrc.json
.stylelintrc.json

**/.next
**/playwright-report
**/playwright-tests
playwright.config.ts

**/ci

LICENSE
README.md