.signpost-redesign {
  &__subtitle {
    color: $color-grey-redesign;
  }

  &__link-wrapper {
    text-decoration: none;
    color: inherit;
  }

  &__image-container {
    position: relative;
    margin-bottom: 16px;
    width: 326px;
    height: 242px;

    img {
      border-radius: 2px;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 4px;
  }

  &__title,
  &__subtitle {
    @include body-m;
  }
}
