.cards-grid-redesign {
  $grid-mobile-gap: 80px;
  $grid-desktop-gap: 32px;

  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-black;

  &__cards {
    gap: $grid-mobile-gap;

    @include tablet {
      gap: 24px;
    }

    @include desktop {
      gap: 32px;
    }

    @include desktop-xl {
      gap: 44px;
    }
  }

  @include desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include desktop-xl {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
