.work-structure {
  --margin: 32px;
  --top: 146px;

  overflow: hidden;

  &__subtitle {
    margin-top: 12px;
    margin-bottom: 32px;
    color: $color-white-alpha-100;

    @include desktop {
      margin-bottom: 48px;
    }

    @include desktop-xl {
      margin-top: 16px;
    }
  }

  &__images {
    position: relative;
    display: flex;
    margin-top: var(--margin);
    margin-bottom: calc(var(--margin) + var(--top));
  }

  &__first-image {
    @include ratio-16x9;

    position: relative;
  }

  &__second-image {
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: var(--top);
  }

  &__video {
    // background-image: url("/images/tourmaline-core-poster.webp");
    // background-size: contain;
    // background-repeat: no-repeat;
    // width: 343px;
    // height: 552px;
    height: 358px;

    video {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include tablet {
      // width: 343px;

      height: 320px;
    }

    // @include tablet-xl {
    //   // width: 343px;
    //   height: 417px;
    // }

    @include desktop {
      // width: 343px;
      // height: 552px;
      height: 417px;
    }

    @include desktop-xl {
      // width: 343px;
      height: 503px;
    }
  }

  &__caption {
    text-align: right;
  }

  &__first-image,
  &__second-image {
    width: 60%;
    min-width: 253px;
    min-height: 212px;

    @include tablet {
      min-width: auto;
      min-height: auto;
    }
  }

  @include tablet {
    --top: 64px;
  }

  @include desktop {
    --margin: 48px;
  }

  @include desktop-xl {
    --margin: 64px;
    --top: 80px;
  }
}
