.work-structure {
  --margin: 32px;
  --top: 146px;

  overflow: hidden;

  &__subtitle {
    margin-top: 12px;
    margin-bottom: 32px;
    color: $color-white-alpha-100;

    @include desktop {
      margin-bottom: 48px;
    }

    @include desktop-xl {
      margin-top: 16px;
    }
  }

  &__images {
    position: relative;
    display: flex;
    margin-top: var(--margin);
    margin-bottom: calc(var(--margin) + var(--top));
  }

  &__first-image {
    position: relative;

    &--mobile {
      @include ratio-calc(63, 53);

      @include tablet {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__second-image {
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: var(--top);

    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__caption {
    text-align: right;
  }

  &__first-image,
  &__second-image {
    @include ratio-calc(63, 53);

    width: 60%;
    min-width: 253px;
    min-height: 212px;

    @include desktop {
      @include ratio-calc(37, 22);
    }

    @include desktop-xl {
      @include ratio-calc(89, 53);
    }

    @include tablet {
      @include ratio-calc(27, 16);

      min-width: auto;
      min-height: auto;
    }
  }

  @include tablet {
    --top: 64px;
  }

  @include desktop {
    --margin: 48px;
  }

  @include desktop-xl {
    --margin: 64px;
    --top: 80px;
  }
}
