%footer-redesign-caption {
  @include link-text;

  color: $color-pink-redesign;
}

.footer-redesign {
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 16px;

  &__inner {
    display: grid;
    gap: 48px;
    grid-template-rows: repeat(3, auto);

    @include tablet {
      column-gap: 12px;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
    }
  }

  &__copyright {
    @include body-m;

    color: $color-middle-grey-redesign;
    grid-row: 3;

    @include tablet {
      align-self: flex-end;
    }
  }

  &__navigation {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, auto);

    @include tablet {
      margin-right: 108px;
      gap: 12px;
      grid-column: 2;
      grid-row: 1 / span 2;
      justify-self: end;
    }
  }

  &__caption {
    margin-bottom: 4px;

    @include desktop {
      margin-bottom: 8px;
    }

    @extend %footer-redesign-caption;
  }

  &__email {
    @include h7;

    width: fit-content;
    text-decoration: none;
    color: $color-white;
  }

  &__info,
  &__copyright {
    @include tablet {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
  }

  @include tablet {
    padding-bottom: 24px;
  }
}
