.tourmaline__team-member-characteristic {
  display: flex;
  font-size: 12px;
}

.tourmaline__team-member-characteristic + .tourmaline__team-member-characteristic {
  margin-top: 5px;
}

.tourmaline__bulletpoint {
  width: 15px;
  height: 15px;
}

.tourmaline__bulletpoint--magic {
  height: 17px;
}

.tourmaline__team-member-text {
  margin-left: 13px;
}

@media (min-width: 768px) {
  .tourmaline__team-member-characteristic {
    min-height: 32px;
  }

  .tourmaline__team-member-characteristic + .tourmaline__team-member-characteristic {
    margin-top: 26px;
  }

  .tourmaline__bulletpoint {
    width: 25px;
    height: 25px;
  }

  .tourmaline__bulletpoint--magic {
    height: 28px;
  }

  .tourmaline__team-member-text {
    margin-left: 26px;
  }
}

@media (min-width: 1024px) {
  .tourmaline__team-member-characteristic {
    min-height: 95px;
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  .tourmaline__team-member-characteristic {
    min-height: 63px;
    font-size: 16px;
  }
}
