.tourmaline__team-member-characteristics {
  list-style-type: none;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}

@media (min-width: 1024px) {
  .tourmaline__team-member-characteristics {
    margin-bottom: 0;
    grid-area: c;
  }
}
