.single-image-redesign {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-black;

  &__container {
    position: relative;
    aspect-ratio: 351/438;

    @include tablet {
      aspect-ratio: 667/291;
    }
  }

  img {
    object-fit: cover;
  }

  @include desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
