.stages {
  font-weight: 500;

  &__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;

    @include desktop-xl {
      padding-top: 240px;
      padding-bottom: 240px;
    }
  }

  &__title {
    margin-bottom: 80px;
  }
}
