.layout-home-page {
  background-color: $color-purple-black;

  &__wrapper {
    display: flex;
  }

  &__nav {
    display: none;
    margin-right: 114px;

    @include desktop {
      display: block;
    }
  }
}
