.card-with-image-redesign {
  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    height: 242px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include desktop {
      height: 290px;
    }

    @include desktop-xl {
      height: 408px;
    }
  }
}
