.header-accordion {
  position: relative;
  cursor: pointer;

  &__button {
    @include body-m;

    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    @include tablet-xl {
      position: relative;
    }
  }

  &__label {
    @include h4;

    color: $color-white;

    @include tablet-xl {
      @include body-m;
    }
  }

  &__arrow {
    margin-left: 12px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;

    @include tablet-xl {
      margin-left: 4px;
      width: 16px;
      height: 16px;
    }
  }

  &__list-wrapper {
    display: none;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    animation: showSmooth–êppearance 0.15s ease-out forwards;

    @include tablet-xl {
      position: absolute;
      left: 0;
      display: none;
      padding-top: 21px;
      padding-bottom: 48px;
      padding-left: 16px;
      gap: 56px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        height: calc(100% - 21px);
        background-color: $color-black;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      &.container-redesign {
        &::after {
          display: none;
        }
      }
    }

    @include desktop-xl {
      padding-top: 34px;
      padding-bottom: 64px;
      padding-left: 24px;
      gap: 80px;

      &::before,
      &::after {
        height: calc(100% - 34px);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include tablet-xl {
      z-index: $top-panel;
      gap: 16px;
    }

    @include desktop-xl {
      gap: 24px;
    }
  }

  &__list-item {
    padding-top: 6px;
    padding-bottom: 6px;
    width: max-content;

    @include tablet-xl {
      padding-top: 0;
      padding-bottom: 0;
      max-width: 224px;
    }

    @include desktop-xl {
      max-width: 246px;
    }
  }

  &__link {
    @include body-m;

    text-decoration: none;
    color: $color-grey-300-redesign;
    overflow-wrap: break-word;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    @include tablet-xl {
      color: $color-white;
    }
  }

  &--left-align {
    position: inherit;
  }
}
