.header-accordion {
  position: relative;

  &__button {
    @include body-m;

    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s;
  }

  &__label {
    @include h4;
    @include regular-font;

    color: $color-white;
  }

  &__arrow {
    margin-left: 12px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;

    &--open {
      transform: rotate(-0.5turn);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    animation: showLangTooltip 0.15s ease-out forwards;
    gap: 4px;
  }

  &__list-item {
    padding: 6px 0;
    width: 100%;
  }

  &__link {
    @include body-m;
    @include animated-underline;

    display: inline-block;
    text-decoration: none;
    color: $color-grey-300-redesign;

    &::after {
      background-color: $color-grey-300-redesign;
    }
  }
}

@keyframes showLangTooltip {
  0% {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
