.input-redesign {
  &__control {
    @include body-m;

    display: block;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    color: $color-light-grey-redesign;
    background-color: $color-grey-700-redesign;
  }
}
