.input-redesign {
  $this: &;

  &__box {
    position: relative;
  }

  &__control {
    @include body-m;

    display: block;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 24px 16px 8px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    color: $color-light-grey-redesign;
    background-color: $color-grey-700-redesign;

    &:not(:placeholder-shown) ~ #{$this}__label {
      top: 0;

      // @include type-body-2;
      font-size: 14px;

      // letter-spacing: 0.02em;
    }

    &:focus {
      // border-color: $color-pink;

      ~ #{$this}__label {
        // @include type-body-2;

        top: 0;

        // letter-spacing: 0.02em;
        // color: $color-pink;
        font-size: 14px;
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      transition: background-color 9999s ease-in-out 0s;
      -webkit-text-fill-color: #fff;
    }
  }

  &__label {
    position: absolute;
    left: 16px;
    top: 15px;

    // min-height: 30px;
    color: $color-light-grey-redesign;
    cursor: text;
    transition: all 0.3s;
  }
}
