.input-redesign {
  $this: &;

  color: #afafb8;

  &__box {
    position: relative;
  }

  &__control {
    display: block;
    outline: none;
    border: none;
    padding: 16px;
    width: 100%;
    min-height: 64px;
    font-family: inherit;
    font-size: inherit;
    color: #afafb8;
    background-color: $color-deep-grey-redesign;
  }
}
