.form {
  $this: &;

  &__input {
    margin-bottom: 40px;
  }

  &__message {
    margin-top: 64px;
    resize: vertical;
  }

  &__footer {
    margin-top: 40px;

    @include tablet {
      display: flex;
      align-items: center;
    }

    @include desktop {
      margin-top: 56px;
    }
  }

  &__button {
    margin-bottom: 24px;

    @include tablet {
      flex: none;
      margin: 0;
      margin-right: 24px;
      min-width: 196px;
    }

    @include desktop {
      margin-right: 32px;
    }
  }

  &__approval {
    font-size: 12px;
    line-height: 1.3;
    color: $color-white-alpha-200;

    @include desktop-xl {
      font-size: 14px;
    }
  }

  &--zh {
    #{$this}__approval {
      font-size: 16px;

      .external-link {
        font-size: 16px;
      }

      @include desktop-xl {
        font-size: 20px;

        .external-link {
          font-size: 20px;
        }
      }
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
