.mobile-lang-switch {
  --gap: 10px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  &__option {
    width: calc(33.3% - var(--gap));
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    opacity: 0.5;

    &--active,
    &:focus {
      opacity: 1;
    }
  }

  &__icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }

  svg {
    display: block;
  }
}
