.hero-redesign {
  height: 100vh;
  background-color: $color-black;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include desktop {
      padding-top: 40px;
      padding-bottom: 130px;
    }
  }

  &__title {
    @include h1;

    @include desktop {
      margin-bottom: 24px;
    }
  }

  &__description {
    @include body-l;

    @include desktop {
      margin-bottom: 56px;
      color: $color-white-60;
    }
  }

  &__images {
    position: relative;

    @include desktop {
      width: 352px;
      height: 332px;
    }
  }

  &__title,
  &__description {
    text-align: center;

    @include desktop {
      max-width: 646px;
    }
  }
}
