.completed-project-card {
  $this: &;

  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-white-alpha-200;
  border-radius: 5px;
  padding: 32px 24px;
  height: 100%;
  text-decoration: none;
  color: $color-white;

  &::after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: -1;
    display: block;
    border: 2px solid rgba($color-black, 0);
    border-radius: 5px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image:
      linear-gradient(
        rgba($color-purple-black, 0.9),
        rgba($color-purple-black, 0.9),
      ),
      linear-gradient(
        90deg,
        $color-pink,
        $color-blue,
        $color-blue,
        $color-pink
      );
    background-size: 300% 100%;
    background-clip: padding-box, border-box;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__title {
    margin-bottom: 16px;

    @include desktop-xl {
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-bottom: auto;
    color: $color-white-alpha-100;
  }

  &__image {
    @include ratio-18x9;

    position: relative;
    margin-top: 48px;
    margin-bottom: 42px;

    @include desktop {
      margin-bottom: 48px;
    }

    @include desktop-xl {
      margin-top: 64px;
      margin-bottom: 50px;
    }
  }

  &__link {
    @include type-body-2;

    display: flex;
    align-items: center;
  }

  &__arrow {
    margin-left: 16px;
    width: 100%;
    height: 12px;
    max-width: 96px;
    background-image: url("/images/large-arrow.svg");
    background-repeat: no-repeat;
    transition: background-image 0.3s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    #{$this}__arrow {
      background-image: url("/images/long-arrow.svg");
    }
  }

  @include desktop-xl {
    padding: 40px 28px;
  }
}
