.header-navigation-list-redesign {
  &__link {
    @include h4;
    @include animated-underline;

    width: 100%;
    text-decoration: none;
    color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
