.hero-block {
  height: 100vh;

  &__gradient-title {
    display: block;
    color: transparent;
    background: linear-gradient(90.09deg, #e977f6 0.08%, #51dce4 78.9%,);
    background-clip: text;
  }

  &__inner {
    max-width: 900px;
  }

  &__description {
    margin-top: 24px;
    margin-bottom: 32px;
    color: $color-white-alpha-100;

    @include desktop {
      max-width: 400px;
    }
  }

  &__box-button {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $color-white;
  }

  &__button {
    margin-left: 24px;
    padding: 18px 16px;
  }

  &__video {
    display: none;
    flex: none;

    video {
      width: 100%;
      height: 100%;
    }

    @include tablet {
      display: block;
      margin-left: 44px;
      height: 327px;
    }

    @include desktop {
      height: 480px;
    }

    @include desktop-xl {
      height: 660px;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
