.services-redesign {
  $this: &;

  padding-top: 40px;
  color: $color-black;
  background-color: $color-white;

  &__title {
    @include h3;

    margin-bottom: 26px;

    @include desktop {
      max-width: 904px;
    }

    @include desktop-xl {
      margin-bottom: 80px;
    }
  }

  &__cards {
    grid-gap: 8px;

    @include tablet-xl {
      grid-gap: 12px;
    }

    @include desktop {
      grid-gap: 11px;
    }

    @include desktop-xl {
      grid-gap: 16px;
    }
  }

  &__card {
    &:nth-child(4) {
      display: none;

      @include desktop {
        display: block;
      }
    }

    @include tablet-xl {
      &:nth-child(9),
      &:nth-child(10) {
        display: none;

        @include desktop {
          display: block;
        }
      }
    }
  }

  &__teams-list {
    display: grid;
    padding: 0 22px;
    gap: 8px;

    @include tablet {
      padding: 0;
      gap: 8px;
      grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    @include desktop {
      gap: 8px 16px;
    }

    @include desktop-xl {
      gap: 12px 16px;
    }
  }

  &__team {
    @include h7;

    display: flex;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include desktop {
      display: block;
    }
  }

  &__team-link {
    @include animated-underline-reverse;
  }

  &__icon-wrapper {
    position: relative;
    display: block;
    margin-right: 16px;
    border-radius: 2px;
    width: 44px;
    height: 44px;
    background-color: $color-black;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 28px;
      height: 28px;
      transform: translate(-50%, -50%);

      @include desktop-xl {
        width: 40px;
        height: 40px;
      }
    }

    @include desktop-xl {
      width: 64px;
      height: 64px;
    }
  }

  &__featured-link {
    @include link-text;

    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 36px;
    padding: 10px 60px;
    width: auto;
    height: 59px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: $color-white;
    background-color: $color-deep-blue-redesign;
    transition: background-color 0.25s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -3px;
      width: 38px;
      height: 65px;
      background-repeat: no-repeat;

      @include tablet {
        width: 20px;
      }

      @include desktop-xl {
        width: 28px;
        height: 80px;
      }
    }

    &::before {
      left: -1px;
      background-image: url("../../../public/images/edge-left-mobile.svg");
      pointer-events: none;

      @include tablet {
        background-image: url("../../../public/images/edge-left-desktop.svg");
      }

      @include desktop-xl {
        background-image: url("../../../public/images/edge-left-desktop-xl.svg");
      }
    }

    &::after {
      right: -1px;
      background-image: url("../../../public/images/edge-right-mobile.svg");

      @include tablet {
        background-image: url("../../../public/images/edge-right-desktop.svg");
      }

      @include desktop-xl {
        background-image: url("../../../public/images/edge-right-desktop-xl.svg");
      }
    }

    &:hover,
    &:focus-visible {
      background-color: $color-pink-redesign;
    }

    @include tablet {
      position: absolute;
      right: -4px;
      top: 5px;
      margin-top: 0;
      padding: 10px 24px;
      max-width: 214px;
      rotate: 5deg;
    }

    @include tablet-xl {
      right: 0;
      top: 42px;
    }

    @include desktop {
      right: -4px;
      top: 17px;
    }

    @include desktop-xl {
      height: 76px;
      max-width: 286px;
    }

    // this is to compensate for the svg edges on up to large mobile devices
    @media (width <= 480px) {
      width: 104%;
    }
  }

  &__teams {
    position: relative;
    padding: 8px 0 40px;

    @include tablet-xl {
      padding: 34px 20px;
    }

    @include desktop {
      padding: 42px 32px;
    }

    @include desktop-xl {
      padding: 68px 44px;
    }
  }

  &__subtitle {
    @include h4;

    margin-bottom: 10px;
    padding: 0 22px;

    @include tablet {
      padding: 0;
    }

    @include tablet-xl {
      max-width: 420px;
    }

    @include desktop {
      margin-bottom: 12px;
    }

    @include desktop-xl {
      margin-bottom: 16px;
    }
  }

  &__description {
    @include body-m;

    margin-bottom: 24px;
    padding: 0 22px;
    max-width: 440px;
    color: $color-grey-500-redesign;

    @include tablet {
      padding: 0;
    }

    @include tablet-xl {
      max-width: 400px;
    }

    @include desktop {
      margin-bottom: 30px;
      max-width: 440px;
    }

    @include desktop-xl {
      margin-bottom: 48px;
      max-width: 660px;
    }
  }

  @include tablet-xl {
    padding-bottom: 40px;
  }

  @include desktop {
    padding-top: 88px;
    padding-bottom: 128px;
  }

  @include desktop-xl {
    padding-top: 120px;
    padding-bottom: 180px;
  }
}
