.services-redesign {
  padding-top: 40px;
  color: $color-black;
  background-color: $color-white;

  &__title {
    @include h2;

    @include desktop {
      margin-bottom: 64px;
      max-width: 904px;
      font-weight: 400;
      font-weight: 400;
      font-size: 34px;
      line-height: 120%;
    }

    @include desktop-xl {
      margin-bottom: 80px;
    }
  }

  &__teams-list {
    columns: 2;
  }

  &__team {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 8px;
    }
  }

  &__icon-wrapper {
    position: relative;
    display: block;
    margin-right: 16px;
    width: 44px;
    height: 44px;
    background-color: $color-black;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
    }
  }

  &__featured-link {
    @include link-text;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 32px;
    height: 59px;
    max-width: 214px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: $color-white;
    background-color: $color-blue-redesign;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 18px;
      height: 59px;
      background-repeat: no-repeat;
    }

    &::before {
      left: 0;

      // bottom: 0;
      background-image: url("../../../public/images/left-edge-white.svg");
      pointer-events: none;
    }

    &::after {
      right: 0;
      background-image: url("../../../public/images/right-edge-white.svg");
    }
  }

  @include desktop {
    margin-top: 88px;
  }
}
