.stages-list {
  display: flex;
  flex-flow: column;
  gap: 56px;

  &__number {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    border: 1px solid rgba($color-black, 0);
    border-radius: 50%;
    padding: 8px 17px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $color-white;
    background-clip: padding-box, border-box;
    transition: background-position 0.3s linear;

    &--design {
      background-image: linear-gradient(234deg, $color-design-page-primary 0%, $color-design-page-secondary 78.13%);
    }

    &--teams {
      background-color: $color-frontend-page-primary;
    }

    @include tablet {
      margin-right: 51px;
    }

    @include tablet-xl {
      margin-right: 37px;
    }

    @include desktop {
      margin-right: 63px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color-white-alpha-300, 0.3);
    padding-bottom: 56px;

    @include tablet {
      align-items: unset;
    }
  }

  &__title {
    padding-right: 16px;

    @include tablet-xl {
      padding-right: 24px;
    }
  }

  &__description {
    display: none;

    @include tablet {
      display: block;
      line-height: 1.33;

      &--design {
        font-size: 18px;
        color: $color-white-alpha-100;
      }

      &--teams {
        font-size: 20px;
        line-height: 1.5;
        word-spacing: 16px;
        color: $color-white;
      }

      @include tablet-xl {
        line-height: 1.5;
      }

      @include desktop {
        padding: 0 12px;
        line-height: 1.55;

        &--teams {
          font-size: 24px;
        }
      }

      @include desktop-xl {
        font-size: 20px;
        line-height: 1.4;

        &--teams {
          font-size: 28px;
          line-height: 1.6;
          word-spacing: 24px;
        }
      }
    }
  }

  &__inner {
    flex: 1;

    @include tablet {
      display: grid;
      gap: 24px;
      grid-column: 2;
      grid-template-columns: 0.7fr 1fr;
    }
  }
}
