.cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $cookie;
  border-radius: 6px;
  padding: 24px 16px;
  width: 100%;
  background-image: $main-gradient-300;
  background-color: $color-purple-black;

  &__link {
    font-size: 16px;
  }

  &__inner {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include tablet-xl {
      justify-content: flex-start;
    }
  }

  &__text {
    margin-bottom: 24px;
    color: $color-white-alpha-100;

    @include tablet {
      margin-right: 48px;
      margin-bottom: 0;
      max-width: 497px;
    }

    @include desktop-xl {
      max-width: 600px;
    }
  }

  &__reject {
    margin-top: 16px;
    color: $color-white;
    background-image:
      linear-gradient(180deg, rgba($color-purple-black, 0.9), rgba($color-purple-black, 0.9)),
      linear-gradient(90deg, $color-white, $color-white);
    opacity: 0.5;
    transition: opacity 0.3s linear;

    &:focus,
    &:active {
      opacity: 0.8;
    }

    @include tablet {
      margin-top: 0;
      margin-left: 16px;
      padding: 16px 28px;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__accept {
    background-image:
      linear-gradient(180deg, rgba($color-purple-black, 0.9), rgba($color-purple-black, 0.9)),
      linear-gradient(90deg, $color-pink, $color-green, $color-green, $color-pink);

    @include tablet {
      padding: 16px 36px;
    }
  }

  @include tablet {
    bottom: 24px;
    margin-left: 16px;
    padding: 24px 32px;
    width: auto;
  }

  @include tablet-xl {
    margin-left: 24px;
  }
}
