.cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $cookie;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  background-image: $main-gradient-300;
  background-color: $color-black;

  &__inner {
    @include tablet-xl {
      display: flex;
      align-items: center;
      margin-left: -56px;
      border-radius: 6px;
      padding: 24px 32px;
      width: fit-content;
      background-image: $main-gradient-300;
      background-color: $color-black;
    }
  }

  &__text {
    margin-bottom: 24px;
    color: $color-white-alpha-100;

    @include tablet-xl {
      margin-right: 48px;
      margin-bottom: 0;
      max-width: 497px;
    }

    @include desktop-xl {
      max-width: 600px;
    }
  }

  &__button {
    margin: 0 auto;
    padding: 20px 58px;
    width: auto;

    @include tablet-xl {
      margin: 0;
      padding: 16px 36px;
    }
  }

  @include tablet-xl {
    background: none;
  }
}
