.accordion {
  position: relative;
  font-weight: 500;

  &__button {
    @include body-m;

    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    box-shadow: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &__arrow {
    margin-left: 6px;
    width: 24px;
    height: 24px;
    color: $color-white;
    transition: transform 0.3s;

    &--open {
      transform: rotate(-0.5turn);
    }
  }

  // &__list {
  //   position: absolute;
  //   left: 0;
  //   top: calc(100%);
  // }
}
