.form-block-redesign {
  padding-top: 40px;
  background-color: $color-white;

  &__wrapper {
    position: relative;
    background-color: $color-black;

    @include tablet {
      background-color: $color-white;
    }
  }

  &__inner {
    @include tablet {
      margin: 0 auto;
      max-width: 556px;
      background-color: $color-black;
    }

    @include tablet-xl {
      max-width: 658px;
    }

    @include desktop {
      max-width: 716px;
    }
  }

  &__aside {
    @include body-s;

    margin: 0 -12px;
    padding: 32px 0 80px;
    color: $color-black;
    background-color: $color-white;

    @include tablet-xl {
      margin: 0 -16px;
    }

    @include desktop {
      position: absolute;
      left: 0;
      top: 0;
      flex-direction: column;
      margin: 0;
      padding: 0;
      max-width: 220px;
      background-color: transparent;
    }
  }

  &__aside-inner {
    display: flex;
    gap: 16px;

    @include desktop {
      flex-direction: column;
    }
  }

  &__aside-img {
    position: relative;
    flex-shrink: 0;
    border-radius: 2px;
    width: 101px;
    height: 72px;

    img {
      object-fit: cover;
    }

    @include desktop {
      width: 100px;
      height: 100px;
    }
  }

  &__aside-text {
    max-width: 190px;

    a {
      color: $color-deep-blue-redesign;
      text-underline-offset: 2px;
    }

    @include desktop {
      max-width: none;
    }
  }

  @include tablet {
    padding: 40px 0 184px;
  }

  @include desktop {
    padding: 100px 0 140px;
  }
}
