.navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  margin: 0;
  height: 100%;
  max-width: 93px;

  &__line {
    margin-right: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      padding-left: 2px;
      width: 2px;
      height: 100%;
      background-color: rgba($color-purple, 0.2);
    }
  }

  &__links {
    position: sticky;
    width: max-content;
    opacity: 0;
    transition: opacity 0.5s;

    &--is-see {
      opacity: 1;
    }
  }

  &__link {
    @include type-body-2;

    position: relative;
    display: block;
    margin-left: 16px;
    width: 100%;
    max-width: 93px;
    color: $color-white-alpha-200;
    cursor: pointer;
    transition: color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: -16px;
      top: -50%;
      padding-left: 2px;
      height: 200%;
      background-image:
        linear-gradient(
          rgba($color-purple, 0.2),
          rgba($color-pink, 0.6),
          rgba($color-green, 1),
          rgba($color-purple, 0.2)
        );
      opacity: 0;
      transition: opacity 1s;
    }

    &--active,
    &:focus,
    &:active {
      color: $color-white;
    }

    &--active {
      &::before {
        opacity: 1;
      }
    }

    & + & {
      margin-top: 24px;
    }

    @include desktop {
      max-width: 120px;
    }

    @include desktop-xl {
      max-width: 150px;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $color-white;
      }
    }
  }

  @include tablet-xl {
    display: block;
  }

  @include desktop {
    margin: 0;
    max-width: 120px;
  }

  @include desktop-xl {
    margin: auto;
    max-width: 1606px;
  }
}
