.mistakes {
  &__subtitle {
    margin-top: 12px;
    margin-bottom: 32px;
    color: $color-white-alpha-100;

    @include desktop {
      margin-bottom: 48px;
    }

    @include desktop-xl {
      margin-top: 16px;
      margin-bottom: 64px;
    }
  }

  &__list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 -15px;
    padding-bottom: 32px;
    font-family: $ff-inter;
    text-align: center;
    color: $color-white-alpha-100;

    @include desktop {
      padding-bottom: 0;
    }
  }

  &__caption {
    margin-top: 32px;
    text-align: right;

    @include desktop {
      margin-top: 48px;
    }

    @include desktop-xl {
      margin-top: 64px;
    }
  }
}
