.mistakes {
  &__subtitle {
    margin-top: 12px;
    margin-bottom: 36px;
    color: $color-white-alpha-100;

    @include tablet {
      margin-bottom: 36px;
    }

    @include desktop {
      margin-bottom: 52px;
    }

    @include desktop-xl {
      margin-top: 16px;
      margin-bottom: 68px;
    }
  }

  &__list {
    display: flex;
    overflow-x: auto;
    margin: 0 -15px;
    padding-bottom: 32px;
    font-family: $ff-inter;
    text-align: center;
    color: $color-white-alpha-100;

    @include tablet {
      padding-bottom: 100px;
    }

    @include desktop {
      padding-bottom: 20px;
    }
  }

  &__caption {
    margin-top: 32px;
    text-align: right;

    @include desktop {
      margin-top: 28px;
    }

    @include desktop-xl {
      margin-top: 44px;
    }
  }
}
