.mistakes {
  &__subtitle {
    margin-top: 12px;
    margin-bottom: 36px;
    color: $color-white-alpha-100;

    @include tablet {
      margin-bottom: 36px;
    }

    @include desktop {
      margin-bottom: 52px;
    }

    @include desktop-xl {
      margin-top: 16px;
      margin-bottom: 68px;
    }
  }

  &__list {
    display: flex;
    overflow-x: scroll;
    margin: 0 -15px;
    padding-bottom: 32px;
    font-family: $ff-inter;
    text-align: center;
    color: $color-white-alpha-100;
    scroll-padding-left: 20px;
    scroll-padding-right: 20px;
    scrollbar-color:
      $color-blue
      rgba(255, 255, 255, 0.2);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      border: 3px solid inherit;
      border-radius: 20px;
      height: 1px;
    }

    &::-webkit-scrollbar-track {
      margin: 0 16px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);

      @include desktop-xl {
        margin: 0;
      }
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      height: 1px;
      background-image: linear-gradient(90.09deg, #e977f6 0.08%, #a2a6ee 99.85%);
    }

    @include desktop {
      overflow-x: hidden;
    }

    @include tablet {
      padding-bottom: 100px;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &__caption {
    margin-top: 32px;
    text-align: right;

    @include desktop {
      margin-top: 48px;
    }

    @include desktop-xl {
      margin-top: 64px;
    }
  }
}
