.cooperation {
  &__wrapper {
    position: relative;
    padding-top: 104px;
    padding-bottom: 104px;

    @include tablet {
      display: flex;
      justify-content: flex-start;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @include tablet-xl {
      justify-content: flex-end;
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__inner {
    max-width: 600px;

    @include tablet {
      max-width: 439px;
    }

    @include tablet-xl {
      @include dynamic-width(592px, $tablet-xl-width, $pd-tablet);

      max-width: none;
    }

    @include desktop {
      @include dynamic-width(803px, $desktop-width, $pd-desktop);
    }

    @include desktop-xl {
      @include dynamic-width(960px, $desktop-xl-width, $pd-desktop-xl);
    }
  }

  &__title {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 64px;
    }

    @include tablet-xl {
      margin-bottom: 80px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 145px;
    background-size: cover;

    &--ml,
    &--frontend,
    &--design,
    &--embedded {
      width: 62px;
      height: 194px;
    }

    &--ml {
      background-image: url("/images/cooperation-ml-element-mobile.webp");
    }

    &--frontend {
      background-image: url("/images/cooperation-frontend-element-mobile.png");
    }

    &--ml,
    &--frontend {
      @include tablet {
        right: 16px;
        bottom: 0;
        width: 320px;
        height: 312px;
        background-image: url("/images/ellipse-purple.gif");
      }

      @include tablet-xl {
        left: 23px;
        bottom: 82px;
      }

      @include desktop {
        left: 66px;
        bottom: 132px;
      }

      @include desktop-xl {
        bottom: 164px;
      }
    }

    &--embedded {
      background-image: url("/images/cooperation-embedded-element-mobile.webp");

      @include tablet {
        right: $pd-tablet;
        bottom: 15px;
        width: 290px;
        height: 355px;
        background-image: url("/images/ellipse-embedded.gif");
      }

      @include tablet-xl {
        left: 31px;
        bottom: 100px;
      }

      @include desktop {
        left: 74px;
        bottom: 150px;
      }

      @include desktop-xl {
        bottom: 200px;
      }
    }

    &--design {
      background-image: url("/images/cooperation-design-element-mobile.png");

      @include tablet {
        right: $pd-tablet;
        bottom: 43px;
        width: 320px;
        height: 355px;
        background-image: url("/images/ellipse-design.gif");
      }

      @include tablet-xl {
        left: 31px;
        bottom: 125px;
      }

      @include desktop {
        left: 74px;
        bottom: 105px;
      }

      @include desktop-xl {
        bottom: 207px;
      }
    }
  }
}
