.discussion {
  margin-top: 56px;
  background-image: $main-gradient-300;

  .modal .button {
    background-image:
      linear-gradient(180deg, $color-gray, $color-gray),
      linear-gradient(90deg, $color-pink, $color-green, $color-green, $color-pink);
  }

  &__inner {
    padding: 56px 0;

    @include desktop {
      padding: 72px 0;
    }

    @include desktop-xl {
      padding: 96px 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    @include tablet-xl {
      align-items: flex-start;
    }

    @include desktop {
      margin-bottom: 48px;
    }

    @include desktop-xl {
      margin-bottom: 64px;
    }
  }

  &__gradient-title {
    @include gradient-text;

    display: block;
    max-width: max-content;
    text-align: center;
    background-image: $main-gradient;

    @include tablet-xl {
      text-align: start;
    }
  }

  &__button {
    margin: 0 auto;
    background-image:
      linear-gradient(180deg, rgba($color-purple-black, 0.9), rgba($color-purple-black, 0.9)),
      linear-gradient(90deg, $color-pink, $color-green, $color-green, $color-pink);

    @include tablet-xl {
      margin: 0;
    }
  }

  &__list {
    margin-top: 48px;
    margin-bottom: 40px;

    @include tablet {
      margin-top: 104px;
      margin-bottom: 0;
    }
  }

  &__list-title {
    margin-bottom: 32px;
  }

  @include tablet {
    margin-top: 80px;
  }

  @include desktop {
    margin-top: 104px;
  }

  @include desktop-xl {
    margin-top: 176px;
  }
}
