.textarea-redesign {
  $this: &;

  color: #afafb8;

  &__box {
    position: relative;
    resize: inherit;
  }

  &__control {
    @include body-m;

    display: block;
    outline: none;
    border: none;
    padding: 0;
    padding: 16px;
    padding-bottom: 16px;
    width: 100%;
    min-height: 92px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    color: #afafb8;
    background-color: $color-deep-grey-redesign;
    resize: inherit;
  }
}
