.textarea-redesign {
  $this: &;

  &__box {
    position: relative;
    resize: inherit;
  }

  &__control {
    @include body-m;

    display: block;
    outline: none;
    border: none;
    padding: 0;
    padding: 16px;
    padding-bottom: 16px;
    width: 100%;
    min-height: 92px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    color: $color-light-grey-redesign;
    background-color: $color-grey-700-redesign;
    resize: inherit;
    transition: all 0.3s;
    &:not(:placeholder-shown) ~ #{$this}__label {
      @include type-body-2;

      top: -24px;
      letter-spacing: 0.02em;
    }

    &:focus {
      border-color: $color-pink;

      ~ #{$this}__label {
        @include type-body-2;

        top: -24px;
        letter-spacing: 0.02em;
        color: $color-pink;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    min-height: 30px;
    color: inherit;
    cursor: text;
    transition: all 0.3s;
  }
}
