.footer {
  margin-top: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  color: $color-white-alpha-100;
  background:
    linear-gradient(
      90.05deg,
      rgba(228, 116, 241, 0.1) 0.04%,
      rgba(228, 116, 241, 0.1) 0.05%,
      rgba(79, 218, 226, 0.1) 99.96%
    );

  &__about-us {
    @include tablet {
      display: flex;
    }
  }

  &__logo {
    width: 50%;

    svg {
      display: block;
      width: 135px;
      height: 40px;
    }
  }

  &__discription {
    display: block;
    margin-top: 32px;
    max-width: 308px;

    @include desktop-xl {
      max-width: 340px;
    }
  }

  &__links {
    margin-top: 48px;

    @include tablet {
      margin-top: 0;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 56px;
    }

    @include desktop {
      margin-top: 64px;
    }

    @include desktop-xl {
      margin-top: 80px;
    }
  }

  &__location {
    margin-top: 16px;
  }
}
