.form-redesign {
  $this: &;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 2px;
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 420px;

  &__box {
    position: relative;
    resize: inherit;
  }

  &__img-container {
    position: relative;
    margin-bottom: 56px;
    border-radius: 2px;
    width: 260px;
    height: 172px;

    @include desktop-xl {
      margin-bottom: 80px;
      width: 450px;
      height: 297px;
    }
  }

  &__title {
    @include h4;

    margin-bottom: 24px;
    max-width: 420px;
    text-align: center;

    @include tablet-xl {
      max-width: unset;
    }

    @include desktop {
      margin-bottom: 17px;
    }

    @include desktop-xl {
      margin-bottom: 26px;
      max-width: unset;
    }
  }

  &__description {
    @include body-m;

    margin: 0 auto 32px;
    max-width: 80%;
    text-align: center;
    color: $color-grey-300-redesign;

    @include tablet-xl {
      max-width: unset;
    }

    @include desktop {
      max-width: 420px;
    }

    @include desktop-xl {
      margin-bottom: 42px;
      max-width: unset;
    }
  }

  &__contact-link {
    margin-left: 4px;
    color: inherit;
    text-underline-offset: 2px;
  }

  &__input {
    width: 100%;

    & + & {
      margin-top: 12px;

      @include desktop {
        margin-top: 8px;
      }

      @include desktop-xl {
        margin-top: 12px;
      }
    }
  }

  &__featured-button {
    @include link-text;

    position: relative;
    border: none;
    padding: 15px;
    width: 100%;
    height: 48px;
    color: $color-white;
    background-color: $color-deep-blue-redesign;
    cursor: pointer;
    transition: background-color 0.25s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      width: 31px;
      height: 51px;
      background-repeat: no-repeat;

      @include desktop-xl {
        width: 50px;
        height: 74px;
      }
    }

    &::before {
      left: 0;
      background-image: url("../../../public/images/edge-left-black.svg");
      pointer-events: none;

      @include desktop-xl {
        left: -1px;
        background-image: url("../../../public/images/edge-left-black-desktop-xl.svg");
      }
    }

    &::after {
      right: -1px;
      background-image: url("../../../public/images/edge-right-black.svg");

      @include desktop-xl {
        background-image: url("../../../public/images/edge-right-black-desktop-xl.svg");
      }
    }

    &:disabled {
      background-color: $color-grey-500-redesign;
    }

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      background-color: $color-pink-redesign;
    }

    @include desktop-xl {
      height: 70px;
    }
  }

  &__footer {
    position: relative;
    margin-top: 12px;
    width: 100%;

    @include desktop-xl {
      margin-top: 16px;
    }
  }

  &__consent {
    @include body-s;

    display: flex;
    margin-top: 32px;
    gap: 8px;

    @include desktop {
      margin-top: 24px;
    }

    @include desktop-xl {
      gap: 16px;
    }
  }

  &__consent-checkbox {
    flex-shrink: 0;
    margin-top: 2px;
  }

  &__consent-link {
    position: relative;
    margin-left: 4px;
    color: inherit;
    transition: text-decoration-color 0.1s;
    text-underline-offset: 2px;

    &:hover,
    &:focus-visible {
      text-decoration-color: transparent;
      transition: text-decoration-color 0.1s;
    }
  }

  &__captcha {
    position: absolute;
    left: 0;
    top: 0;
  }

  &.is-modal {
    padding-top: 28px;

    @include tablet {
      padding-top: 56px;
    }

    @include desktop-xl {
      padding-top: 80px;
    }
  }

  @include tablet {
    max-width: 492px;
  }

  @include tablet-xl {
    max-width: 600px;
  }

  @include desktop {
    max-width: 436px;
  }

  @include desktop-xl {
    padding: 80px 0;
    max-width: 614px;
  }

  &--is-submitted {
    padding-top: 88px;
    padding-bottom: 148px;

    #{$this}__footer {
      margin-top: 0;
      max-width: 351px;

      @include tablet {
        max-width: 294px;
      }

      @include desktop {
        max-width: 318px;
      }

      @include desktop-xl {
        max-width: 446px;
      }
    }

    #{$this}__description {
      max-width: 351px;

      @include desktop {
        max-width: 436px;
      }

      @include desktop-xl {
        max-width: 614px;
      }
    }

    &.is-modal {
      padding-top: 42px;

      @include tablet {
        padding-top: 88px;
        padding-bottom: 116px;
      }

      @include tablet-xl {
        padding-top: 72px;
        padding-bottom: 83px;
      }

      @include desktop {
        padding-top: 80px;
        padding-bottom: 110px;
      }

      @include desktop-xl {
        padding-top: 96px;
        padding-bottom: 131px;
      }
    }

    @include tablet {
      padding-bottom: 130px;
    }

    @include tablet-xl {
      padding-bottom: 100px;
    }

    @include desktop {
      padding-bottom: 123px;
    }

    @include desktop-xl {
      padding-top: 104px;
      padding-bottom: 80px;
    }
  }
}
