.form-redesign {
  $this: &;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 2px;
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 420px;

  &__box {
    position: relative;
    resize: inherit;
  }

  &__img-container {
    position: relative;
    margin-bottom: 56px;
    border-radius: 2px;
    width: 260px;
    height: 172px;
  }

  &__title {
    @include h4;

    margin-bottom: 24px;
    max-width: 420px;
    text-align: center;

    @include desktop {
      margin-bottom: 17px;
    }
  }

  &__description {
    @include body-m;

    margin: 0 auto 32px;
    max-width: 80%;
    text-align: center;
    color: $color-light-grey-redesign;

    @include tablet {
      max-width: 420px;
    }
  }

  &__contact-link {
    margin-left: 4px;
    color: inherit;
    text-underline-offset: 2px;
  }

  &__input {
    width: 100%;

    & + & {
      margin-top: 12px;

      @include desktop {
        margin-top: 8px;
      }
    }
  }

  &__featured-link {
    @include link-text;

    position: relative;
    border: none;
    padding: 10px 60px;
    width: 100%;
    height: 48px;
    color: $color-white;
    background-color: $color-deep-blue-redesign;
    transition: background-color 0.25s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      width: 31px;
      height: 51px;
      background-repeat: no-repeat;
    }

    &::before {
      left: 0;
      background-image: url("../../../public/images/edge-left-black.svg");
      pointer-events: none;
    }

    &::after {
      right: -1px;
      background-image: url("../../../public/images/edge-right-black.svg");
    }

    &:hover,
    &:focus-visible {
      background-color: $color-pink-redesign;
    }
  }

  &__footer {
    margin-top: 32px;
    width: 100%;

    @include desktop {
      margin-top: 24px;
    }
  }

  &__consent {
    @include body-s;

    margin-top: 12px;
    text-align: center;

    a {
      position: relative;
      margin-left: 4px;
      color: inherit;
      text-underline-offset: 2px;
    }
  }

  @include desktop {
    max-width: 436px;
  }

  &--is-submitted {
    padding-top: 88px;
    padding-bottom: 148px;

    #{$this}__footer {
      margin-top: 0;
    }

    @include desktop {
      padding-bottom: 123px;
    }
  }
}
