.services-card-redesign {
  $this: &;

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 24px 20px;
  height: 100%;
  min-height: 304px;
  color: $color-black;

  &__list {
    margin-bottom: 10px;
    margin-left: 24px;
    color: $color-grey-redesign;

    @include desktop {
      margin-left: 26px;
    }
  }

  &__title {
    @include h6;

    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__link-text {
    @include link-text;

    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: auto;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $color-black;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.25s ease-out;
    }

    svg {
      display: block;
      margin-left: 12px;
    }

    &:focus-visible {
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &__item {
    @include body-m;

    list-style-type: disc;

    & + & {
      margin-top: 12px;
    }
  }

  &__link-wrapper {
    height: 100%;
    text-decoration: none;
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image-container {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 10px solid $color-black;
    width: 212px;
    height: 276px;
    transform: translate(-50%, -50%);

    img {
      background-color: $color-black;
      object-fit: cover;
    }
  }

  &:hover {
    #{$this}__link-text::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  @include desktop {
    min-height: 405px;
  }

  &--blue {
    display: none;
    background-color: $color-blue-redesign;

    @include tablet-xl {
      display: block;
    }
  }

  &--grey {
    background-color: $color-light-grey-redesign;
  }

  &--black {
    background-color: $color-black;

    #{$this}__link,
    #{$this}__title {
      color: $color-white;

      &::after {
        background-color: $color-white;
      }

      &:hover {
        #{$this}__link::after {
          background-color: $color-white;
        }
      }
    }
    #{$this}__link {
      path {
        fill: $color-white;
      }
    }
  }
}
