.services-card-redesign {
  $this: &;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  height: 100%;
  min-height: 405px;
  font-weight: 500;
  color: $color-black;

  &__list {
    margin-left: 16px;
    color: $color-grey-redesign;
  }

  &__title {
    @include h6;

    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__link {
    @include link-text;

    display: flex;
    align-items: center;
    margin-top: auto;
    text-decoration: none;
    color: $color-black;
    transition: all 0.2s ease-in-out;

    svg {
      display: block;
      margin-left: 12px;
    }
  }

  &__item {
    @include body-m;

    list-style-type: disc;

    & + & {
      margin-top: 12px;
    }
  }

  &__image-container {
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 10px solid $color-black;
    width: 188px;
    height: 250px;
    transform: translate(-50%, -50%);
  }

  &--blue {
    background-color: $color-blue-redesign;
  }

  &--grey {
    background-color: $color-light-grey-redesign;
  }

  &--black {
    background-color: $color-black;

    #{$this}__link,
    #{$this}__title {
      color: $color-white;
    }
  }
}
