.accordion {
  $this: &;

  position: relative;

  &__button {
    outline: none;
    border: none;
    padding: 24px 16px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: $color-white;
    background-color: inherit;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.5px;
      background: $color-white-alpha-200;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {
      background-image:
        linear-gradient(
          90.05deg,
          rgba(129, 185, 232, 0.1) 0.04%,
          rgba(129, 185, 232, 0.1) 0.05%,
          rgba(79, 218, 226, 0.1) 99.96%
        );

      &::before {
        background: $green-gradient !important;
      }

      &::after {
        background: $green-gradient;
      }

      #{$this}__icon {
        opacity: 1;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    flex: none;
    width: 20px;
    height: 20px;
    color: $color-white;
    opacity: 0.5;
    transition: all 0.3s;

    &--is-open {
      transform: rotate(-0.5turn);
    }
  }

  &__scope {
    display: none;

    @include desktop {
      display: flex;
      margin-top: 12px;
      color: $color-green;
    }
  }

  &__scope-item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__content {
    padding: 24px 16px;
    color: $color-white-alpha-100;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__sub-title {
    margin-bottom: 16px;

    // @include desktop {
    //   margin-top: 0;
    // }
  }

  &__services {
    // list-style-type: disc;
    // list-style-position: inside;
    margin-bottom: 32px;

    @include desktop {
      margin-bottom: 0;
      max-width: 472px;
    }
  }

  &__service-item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 20px;

    &::before {
      content: " ";
      position: absolute;
      left: 4px;
      top: 10px;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: $color-white-alpha-100;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__technologies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 40px;

    @include desktop {
      margin: 0;
      max-width: 368px;
    }
  }

  &__technologe-item {
    margin-bottom: 8px;
    width: 50%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // & #{$this}__buttom:hover {
  //   border: 1px solid #ff0;
  // }

  & ~ & {
    #{$this}__button::before {
      display: none;
    }
  }

  // &__button:hover {}
}
