.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $modal;
  display: flex;
  overflow: auto;
  font-weight: inherit;
  background-color: rgba($color-black, 0.5);

  &__container {
    margin: auto;
  }

  &__inner {
    position: relative;
    border-radius: 5px;
    padding: 56px 16px;
    background-color: $color-gray;

    @include tablet {
      padding: 56px 104px;
      min-height: 722px;
    }
  }

  &__subtitle {
    margin-top: 12px;
    color: transparent;
    background-image: $green-gradient;
    background-clip: text;

    &--technology {
      color: $color-white-alpha-100;
    }
  }

  &__cross {
    position: absolute;
    right: 19px;
    top: 19px;
    border: none;
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: inherit;
    cursor: pointer;
    transition: transform 0.3s;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      color: $color-white-alpha-200;
    }

    &:hover,
    &:active,
    &:focus-visible {
      transform: rotate(-0.5turn);
    }

    @include tablet {
      right: 36px;
      top: 36px;
      width: 24px;
      height: 24px;
    }
  }

  &__content {
    margin-top: 48px;

    @include desktop {
      margin-top: 32px;
    }
  }
}
