.completed-projects {
  &__title {
    margin-bottom: 32px;
  }

  &__gradient {
    @include gradient-text;

    @include tablet {
      display: inline;
      color: $color-white;
      background-image: none;
    }
  }

  &__cards-container {
    display: none;

    @include tablet {
      display: flex;
      gap: 0 24px;
    }

    @include tablet-xl {
      gap: 0 24px;
    }

    @include desktop {
      gap: 0 32px;
    }
  }

  &__card {
    width: 50%;
  }

  @include tablet {
    align-items: flex-start;
  }
}
