.animated-link {
  position: relative;
  text-decoration: none;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-black;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  &:hover,
  &:focus-visible {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &--reverse {
    &::after {
      transform: scaleX(1);
    }

    &:hover,
    &:focus-visible {
      &::after {
        transform: scaleX(0);
        transform-origin: bottom left;
      }
    }
  }
}
