.projects-with-text-block-redesign {
  background-color: $color-white;

  &__title {
    @include h3;

    color: $color-black;

    @include desktop {
      margin-top: 32px;
      margin-bottom: 48px;
    }
  }

  &__subtitle {
    @include body-m;

    color: $color-black-60;

    @include desktop {
      margin-bottom: 24px;
    }
  }

  &__markdown {
    @include accent-text;

    color: $color-black;

    // Todo: remove after integration with CMS
    .nda {
      display: block;
      margin-top: 8px;
      color: $color-deep-blue;
    }

    a {
      color: $color-black;
      transition: color 0.6s ease-out;

      &:hover,
      &:focus {
        color: $color-pink-redesign;
      }
    }
  }

  &__text-block {
    @include desktop {
      padding: 0 20px;
    }
  }

  @include desktop {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
