.services {
  &__title {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 64px;
      max-width: 904px;
    }

    @include desktop-xl {
      margin-bottom: 80px;
    }
  }

  &__gradient-title {
    @include gradient-text;

    @include tablet {
      display: inline;
      color: $color-white;
      background-image: none;
    }
  }

  &__gradient-subtitle {
    color: $color-white;

    @include tablet {
      @include gradient-text;
    }
  }

  &__inner {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__block-first {
    margin-bottom: 32px;

    @include tablet {
      margin-right: 24px;
      margin-bottom: 0;
      max-width: 340px;
    }

    @include desktop {
      max-width: 384px;
    }

    @include desktop-xl {
      max-width: 413px;
    }
  }

  &__block-second {
    @include tablet {
      margin-top: 140px;
      max-width: 340px;
    }

    @include desktop {
      margin-top: 200px;
      max-width: 384px;
    }

    @include desktop-xl {
      margin-top: 232px;
      max-width: 413px;
    }
  }

  &__subtitle {
    margin-bottom: 16px;

    @include desktop {
      margin-bottom: 24px;
    }
  }

  &__description {
    color: $color-white-alpha-100;
  }
}
