.example-components {
  &__title {
    @include gradient-text;

    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;

    &--top {
      margin-top: 20px;
    }
  }

  &__external-link {
    font-size: 18px;
  }
}
