@mixin medium-font {
  font-weight: 500;
}

@mixin regular-font {
  font-weight: 400;
}

@mixin light-font {
  font-weight: 300;
}

@mixin unbounded-font {
  font-family: $ff-unbounded;
}

@mixin inter-font {
  font-family: $ff-inter;
}

@mixin source-code-pro-font {
  font-family: $ff-source-code-pro;
}

@mixin h1 {
  @include light-font;
  @include unbounded-font;

  font-size: 36px;
  line-height: 1;

  @include desktop {
    font-size: 56px;
  }

  @include desktop-xl {
    font-size: 80px;
  }
}

@mixin h2 {
  @include regular-font ;
  @include unbounded-font;

  font-size: 32px;
  line-height: 1.2;

  @include desktop {
    font-size: 48px;
  }

  @include desktop-xl {
    font-size: 68px;
  }
}

@mixin h3 {
  @include regular-font ;
  @include unbounded-font;

  font-size: 28px;
  line-height: 1.2;

  @include desktop {
    font-size: 34px;
  }

  @include desktop-xl {
    font-size: 48px;
  }
}

@mixin h4 {
  @include regular-font ;
  @include unbounded-font;

  font-size: 24px;
  line-height: 1.2;

  @include desktop {
    font-size: 28px;
  }

  @include desktop-xl {
    font-size: 40px;
  }
}

@mixin h5 {
  @include regular-font ;
  @include unbounded-font;

  font-size: 22px;
  line-height: 1.2;

  @include desktop {
    font-size: 24px;
  }

  @include desktop-xl {
    font-size: 36px;
  }
}

@mixin h6 {
  @include regular-font ;
  @include unbounded-font;

  font-size: 20px;
  line-height: 1.2;

  @include desktop-xl {
    font-size: 28px;
  }
}

@mixin h7 {
  @include regular-font ;
  @include unbounded-font;

  font-size: 18px;
  line-height: 1.2;

  @include desktop-xl {
    font-size: 26px;
  }
}

@mixin accent-big-text {
  @include regular-font;
  @include unbounded-font;

  font-size: 120px;
  line-height: 1;

  @include desktop {
    font-size: 160px;
  }

  @include desktop-xl {
    font-size: 240px;
  }
}

@mixin accent-text {
  @include medium-font;
  @include inter-font;

  font-size: 26px;
  line-height: 1.4;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 28px;
  }

  @include desktop-xl {
    font-size: 40px;
  }
}

@mixin body-l {
  @include medium-font;
  @include inter-font;

  font-size: 16px;
  line-height: 1.2;

  @include desktop {
    font-size: 18px;
    line-height: 1.4;
  }

  @include desktop-xl {
    font-size: 24px;
  }
}

@mixin body-m {
  @include medium-font;
  @include inter-font;

  font-size: 16px;
  line-height: 1.2;

  @include desktop {
    line-height: 1.4;
  }

  @include desktop-xl {
    font-size: 24px;
  }
}

@mixin body-s {
  @include medium-font;
  @include inter-font;

  font-size: 14px;
  line-height: 1.4;

  @include desktop-xl {
    font-size: 20px;
  }
}

@mixin caption {
  @include regular-font;
  @include source-code-pro-font;

  font-size: 18px;
  line-height: 1.2;

  @include desktop {
    font-size: 20px;
    line-height: 1.4;
  }

  @include desktop-xl {
    font-size: 28px;
  }
}

@mixin link-text {
  @include regular-font;
  @include source-code-pro-font;

  font-size: 18px;
  line-height: 1;

  @include desktop-xl {
    font-size: 26px;
  }
}
