@font-face {
  src: url("/fonts/Unbounded-Light.ttf") format("truetype");
  font-family: Unbounded;
  font-weight: 300;
}

@font-face {
  src: url("/fonts/Unbounded-Regular.ttf") format("truetype");
  font-family: Unbounded;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Inter-Medium.woff") format("woff");
  font-family: Inter;
  font-weight: 500;
}

@font-face {
  src: url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-family: Source-Code-Pro;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Comic-Sans.ttf") format("truetype");
  font-family: Comic-Sans;
  font-weight: 400;
}

$fallback-font: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "WenQuanYi Micro Hei",
  sans-serif;
$ff-montserrat: Montserrat, $fallback-font;
$ff-inter: Inter, $fallback-font;
$ff-unbounded: Unbounded, $fallback-font;
$ff-source-code-pro: Source-Code-Pro, $fallback-font;
