@font-face {
  src:
    url("/fonts/FiraCode-Medium.woff2") format("woff2"),
    url("/fonts/FiraCode-Medium.woff") format("woff");
  font-family: FiraCode;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
