*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
}

.body--scroll-hiden {
  overflow: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: $ff-montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-white;
  background-color: $color-purple-black;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include desktop-xl {
    font-size: 19px;
    line-height: 1.6;
  }
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
}

p + p {
  margin-top: 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 1606px;

  @include tablet {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include desktop {
    padding-right: 75px;
    padding-left: 75px;
  }
}

.backlink {
  display: inline-block;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 56px;
  }
}

.visually-hidden {
  display: none;
}

.ratio {
  &::before {
    content: "";
    position: relative;
    z-index: -1;
    display: block;
  }

  &--3x4 {
    &::before {
      /* stylelint-disable-next-line scss/no-global-function-names */
      padding-bottom: percentage(calc(4 / 3));
    }
  }

  &--16x9 {
    &::before {
      /* stylelint-disable-next-line scss/no-global-function-names */
      padding-bottom: percentage(calc(9 / 16));
    }
  }
}

.scroll {
  scroll-padding-left: 20px;
  scroll-padding-right: 20px;
  scrollbar-color:
    $color-blue
    rgba(255, 255, 255, 0.2);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    border: 3px solid inherit;
    border-radius: 20px;
    height: 1px;
  }

  &::-webkit-scrollbar-track {
    margin: 0 16px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);

    @include desktop-xl {
      margin: 0;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    height: 1px;
    background-image: linear-gradient(90.09deg, #e977f6 0.08%, #a2a6ee 99.85%);
  }
}
