*,
*::before,
*::after {
  box-sizing: inherit;
}

.body--scroll-hiden {
  overflow: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: $ff-montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-white;
  background-color: $color-purple-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .layout--zh {
    font-size: 18px;

    @include desktop-xl {
      font-size: 24px;
    }
  }

  @include desktop-xl {
    font-size: 19px;
    line-height: 1.6;
  }
}

.default-scroll {
  scrollbar-color:
    #838389
    #0e0e0f;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #0e0e0f;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid #0e0e0f;
    border-radius: 5px;
    height: 56px;
    background-color: #838389;
  }
}

body {
  overflow-x: hidden;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

img {
  display: block;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
}

p + p {
  margin-top: 10px;
}

a {
  text-decoration-skip-ink: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $pd-mobile;
  padding-left: $pd-mobile;
  width: 100%;
  max-width: 1606px;

  @include tablet {
    padding-right: $pd-tablet;
    padding-left: $pd-tablet;
  }

  @include tablet-xl {
    &--home-page {
      padding-left: 208px;
    }
  }

  @include desktop {
    padding-right: $pd-desktop;
    padding-left: $pd-desktop;

    &--home-page {
      padding-left: 283px;
    }

    &--technology-page {
      display: flex;
      justify-content: flex-end;
    }
  }

  @include desktop-xl {
    &--home-page {
      padding-left: 300px;
    }
  }
}

.container-redesign {
  padding-right: 16px;
  padding-left: 16px;
}

.visually-hidden {
  display: none;
}

@mixin ratio {
  &::before {
    content: "";
    position: relative;
    z-index: -1;
    display: block;
  }
}

@mixin ratio-3x4 {
  @include ratio;

  &::before {
    /* stylelint-disable-next-line scss/no-global-function-names */
    padding-bottom: percentage(calc(4 / 3));
  }
}

@mixin ratio-16x9 {
  @include ratio;

  &::before {
    /* stylelint-disable-next-line scss/no-global-function-names */
    padding-bottom: percentage(calc(9 / 16));
  }
}

@mixin ratio-18x9 {
  @include ratio;

  &::before {
    /* stylelint-disable-next-line scss/no-global-function-names */
    padding-bottom: percentage(calc(9 / 18));
  }
}

@mixin ratio-calc($width, $height) {
  @include ratio;

  &::before {
    /* stylelint-disable-next-line scss/no-global-function-names */
    padding-bottom: percentage(calc($height / $width));
  }
}

@mixin dynamic-width($containerSize, $widthViewport, $padding) {
  width: calc($containerSize / ($widthViewport - (2 * $padding)) * 100%);
}

.custom-scroll {
  scroll-padding-left: 20px;
  scroll-padding-right: 20px;
  scrollbar-color:
    $color-blue
    rgba(255, 255, 255, 0.2);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    border: 3px solid $color-purple-black;
    border-radius: 20px;
    height: 1px;
  }

  &::-webkit-scrollbar-track {
    margin: 0 16px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);

    @include desktop-xl {
      margin: 0;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 1px;
    background-image: linear-gradient(90.09deg, #e977f6 0.08%, #a2a6ee 99.85%);
  }
}

.responsive-carousel {
  position: relative;

  .carousel .slide {
    text-align: left;
  }

  .carousel-slider {
    position: static;
    padding-bottom: 24px;
  }

  .control-dots {
    margin: 0;
    height: 8px;
    text-align: center;

    .dot {
      position: relative;
      top: 0;
      margin: 0;
      margin-right: 12px;
      box-shadow: none;
      background: $color-white-alpha-200;
      opacity: 1;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: var(--gap);
        top: var(--gap);
        border-radius: inherit;
        width: calc(100% - var(--gap) * 2);
        height: calc(100% - var(--gap) * 2);
        background: linear-gradient(180deg, $color-purple-black, $color-purple-black);
        opacity: 0;
        transition: opacity 0.3s;
      }

      &::before {
        --gap: 1px;
      }

      &::after {
        --gap: 2px;
      }

      &:active,
      &.selected {
        background-image: $main-gradient;

        &::before,
        &::after {
          opacity: 0.4;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      @media (hover: hover) {
        &:hover {
          background-image: $main-gradient;

          &::before,
          &::after {
            opacity: 0.4;
          }
        }
      }
    }
  }

  @include tablet {
    display: none;
  }
}
