// Black
$color-black: #000;
$color-purple-black: #06040f;

// White
$color-white: #fff;
$color-white-alpha-100: rgb(255, 255, 255, 0.8);
$color-white-alpha-200: rgb(255, 255, 255, 0.5);
$color-white-alpha-300: rgb(255, 255, 255, 0.3);
$color-white-alpha-400: rgb(255, 255, 255, 0.1);

// Main gradient
$main-gradient: linear-gradient(90.05deg, #e474f1 0.04%, #e474f1 0.05%, #4fdae2 99.96%);
$main-gradient-100: linear-gradient(
  90.05deg,
  rgba(228, 116, 241, 0.6) 0.04%,
  rgba(228, 116, 241, 0.6) 0.05%,
  rgba(79, 218, 226, 0.6) 99.96%
);
$main-gradient-200: linear-gradient(
  90.05deg,
  rgba(228, 116, 241, 0.4) 0.04%,
  rgba(228, 116, 241, 0.4) 0.05%,
  rgba(79, 218, 226, 0.4) 99.96%
);
$main-gradient-300: linear-gradient(
  90.05deg,
  rgba(228, 116, 241, 0.1) 0.04%,
  rgba(228, 116, 241, 0.1) 0.05%,
  rgba(79, 218, 226, 0.1) 99.96%
);

// Primary
$pink-gradient: linear-gradient(90.05deg, #e474f1 0.04%, #e474f1 0.05%, #81b9e8 99.96%);
$green-gradient: linear-gradient(90.05deg, #81b9e8 0.04%, #81b9e8 0.05%, #4fdae2 99.96%);
$color-pink: #e474f1;
$color-pink-alpha-100: rgba(228, 116, 241, 0.2);
$color-purple: #b397ed;
$color-purple-alpha-100: rgba(179, 151, 237, 0.2);
$color-blue: #81b9e8;
$color-blue-alpha-100: rgba(129, 185, 232, 0.2);
$color-green: #4fdae2;
$color-green-alpha-100: rgba(79, 218, 226, 0.2);

// Frontend page
$color-frontend-page-primary: #7926ff;

// Design page
$color-design-page-primary: #ff7921;
$color-design-page-secondary: #fd3866;
$color-design-page-secondary-100: rgba(253, 105, 7, 0.3);

// Ml page
$color-ml-page-primary: #7926ff;

// Embedded
$color-embedded-page-primary: rgb(251, 138, 238);
$color-embedded-page-secondary: rgb(108, 121, 240);

// Secondary
$color-light-green: #009e4c;
$color-dark-green: #1e5d23;
$color-soft-green: #f3fff8;
$color-bright-red: #a50038;
$color-soft-red: #ffeff4;
$color-bright-purple: #5e44fd;
$color-soft-purple: #7b6deb;
$color-bright-pink: #c800b9;
$color-soft-pink: #fff0fe;
$color-bright-lilac: #b900d8;
$color-soft-lilac: #fef3ff;
$color-yellow: #f8d830;
$color-gray: #1b1926;
$color-dark-card: linear-gradient(234deg, #17191c 0%, #101112 100%);
$color-dark-purple-card: linear-gradient(234deg, #7926ff 0%, #090029 100%);

// Error
$color-error: #ff9994;

// z-index
$top-panel: 10;
$mobile-menu: 20;
$cookie: 40;
$mistake-item-cursor: 30;
$modal: 50;

// padding
$pd-mobile: 16px;
$pd-tablet: 32px;
$pd-desktop: 75px;
$pd-desktop-xl: 232px;
