@import "fonts";
@import "media";
@import "variables";
@import "globals";
@import "typography";
@import "grid";
@import "fonts-mixin";
@import "mixins";

// components
@import "../components/Layout/Layout";
@import "../components/Header/Header";
@import "../components/Footer/Footer";
@import "../components/PrimaryButton/PrimaryButton";
@import "../components/Header/components/LangSwitch/LangSwitch";
@import "../components/MobileMenu/MobileMenu";
@import "../components/MobileMenu/components/MobileLangSwitch/MobileLangSwitch";
@import "../components/SocialLinks/SocialLinks";
@import "../components/FormBlock/FormBlock";
@import "../components/Modal/Modal";
@import "../components/HeroBlock/HeroBlock";
@import "../components/Cookie/Cookie";
@import "../components/Form/Form";
@import "../components/Form/components/Input/Input";
@import "../components/Form/components/Textarea/Textarea";
@import "../components/Spinner/Spinner";
@import "../components/HeroBlockTechnology/HeroBlockTechnology";
@import "../components/Points/Points";
@import "../components/Tasks/Tasks";
@import "../components/Tasks/components/TasksList/TasksList";
@import "../components/Cases/Cases";
@import "../components/Cases/components/CasesCard/CasesCard";
@import "../components/Cta/Cta";
@import "../components/Stack/Stack";
@import "../components/NamedList/NamedList";
@import "../components/Cooperation/Cooperation";
@import "../components/Cooperation/components/CooperationList/CooperationList";
@import "../components/ServicesTechnology/ServicesTechnology";
@import "../components/ServicesTechnology/components/ServicesTechnologyCard/ServicesTechnologyCard";
@import "../components/Payment/Payment";
@import "../components/Payment/components/PaymentList/PaymentList";
@import "../components/Stages/Stages";
@import "../components/Stages/components/StagesList/StagesList";
@import "../components/SkipLink/SkipLink";

// features
@import "../features/Articles/components/Articles/Articles";
@import "../features/Articles/components/Article/Article";

// pages
@import "../pages/frontend/frontend";
@import "../pages/design/design";
@import "../pages/ml/ml";
@import "../pages/embedded/embedded";
@import "../pages/qa/qa";
@import "../pages/backend/backend";
@import "../pages/teams/teams";
@import "../pages/frontend-team/frontend-team";
@import "../pages/components/components-page";

// redesign
@import "../components/redesign/LayoutRedesign/LayoutRedesign";
@import "../components/redesign/HeroRedesign/HeroRedesign";
@import "../components/redesign/ServicesRedesign/ServicesRedesign";
@import "../components/redesign/ServicesCardRedesign/ServicesCardRedesign";
@import "../components/redesign/ProjectsWithTextBlockRedesign/ProjectsWithTextBlockRedesign";
@import "../components/redesign/ProjectsCardWithImageRedesign/ProjectsCardWithImageRedesign";
@import "../components/redesign/ProjectsRedesign/ProjectsRedesign";
@import "../components/redesign/CardWithContentRedesign/CardWithContentRedesign";
@import "../components/redesign/CardsGridRedesign/CardsGridRedesign";
@import "../components/redesign/CardsGridRedesign/components/CardWithTextAndDateRedesign/CardWithTextAndDateRedesign";
@import "../components/redesign/CardsGridRedesign/components/CardWithImageRedesign/CardWithImageRedesign";
@import "../components/redesign/CardsGridRedesign/components/CardWithRepositoriesRedesign/CardWithRepositoriesRedesign";
@import "../components/redesign/CollageWithTitleRedesign/CollageWithTitleRedesign";
@import "../components/redesign/CollageWithLinkRedesign/CollageWithLinkRedesign";
@import "../components/redesign/SignpostMultipleRedesign/SignpostMultipleRedesign";
@import "../components/redesign/SignpostRedesign/SignpostRedesign";
@import "../components/redesign/SingleImageRedesign/SingleImageRedesign";
@import "../components/redesign/FooterRedesign/FooterRedesign";
@import "../components/redesign/FormBlockRedesign/FormBlockRedesign";
@import "../components/redesign/FormRedesign/FormRedesign";
@import "../components/redesign/FormRedesign/components/InputRedesign/InputRedesign";
@import "../components/redesign/FormRedesign/components/TextareaRedesign/TextareaRedesign";
@import "../components/redesign/FooterRedesign/components/FooterNavigationListRedesign/FooterNavigationListRedesign";
@import "../components/redesign/CustomError/CustomError";
@import "../components/redesign/HeaderRedesign/HeaderRedesign";
@import "../components/redesign/HeaderRedesign/components/LangSwitchRedesign/LangSwitchRedesign";
@import "../components/redesign/HeaderRedesign/components/HeaderButton/HeaderButton";
@import "../components/redesign/HeaderRedesign/components/HeaderAccordion/HeaderAccordion";
@import "../components/redesign/HeaderRedesign/components/HeaderNavigationList/HeaderNavigationList";
@import "../components/redesign/HeaderRedesign/components/MobileMenuRedesign/MobileMenuRedesign";
