.cooperation-list {
  display: flex;
  flex-flow: column;
  font-weight: 500;
  gap: 32px;

  &__title {
    margin-bottom: 24px;
  }

  &__item {
    padding-right: 40px;

    @include desktop {
      max-width: 712px;
    }

    @include desktop-xl {
      max-width: 712px;
    }
  }

  &__description {
    color: $color-white-alpha-100;
  }

  @include tablet-xl {
    gap: 48px;
  }
}
