.projects-with-text-block-redesign {
  $grid-mobile-gap: 32px;
  $grid-desktop-gap: 12px;

  background-color: $color-white;

  ~ .projects-redesign {
    @media (width < $tablet-width) {
      padding-top: 0;
    }
  }

  &__text-block {
    padding: 16px 0;

    @include tablet {
      padding: 0;
    }

    @include tablet-xl {
      padding: 0 8px;
    }

    @include desktop {
      padding: 0 20px;
    }
  }

  &__cards {
    gap: $grid-mobile-gap;

    @include tablet {
      gap: $grid-desktop-gap;
    }
  }

  &__title {
    @include h3;

    margin-bottom: 32px;
    color: $color-black;

    @include tablet-xl {
      margin-top: 16px;
    }

    @include desktop {
      margin-top: 32px;
      margin-bottom: 48px;
    }

    @include desktop-xl {
      margin-top: 44px;
      margin-bottom: 72px;
    }
  }

  &__subtitle {
    @include body-m;

    margin-bottom: 16px;
    color: $color-grey-500-redesign;

    @include desktop {
      margin-bottom: 24px;
    }

    @include desktop-xl {
      margin-bottom: 32px;
    }
  }

  &__markdown {
    @include accent-text;

    color: $color-black;

    // Todo: remove after integration with CMS
    .blue-deep-color {
      color: $color-deep-blue-redesign;
    }

    a {
      color: $color-black;

      &:hover,
      &:focus-visible {
        text-decoration: none;
      }
    }
  }
}
