.lang-switch {
  position: relative;
  font-weight: 500;

  svg {
    display: block;
  }

  &__arrow {
    margin-left: 8px;
    width: 12px;
    height: 6px;
    color: $color-white;
    transition: transform 0.3s;

    &--open {
      transform: rotate(-0.5turn);
    }
  }

  &__flag {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }

  &__active {
    position: relative;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    padding: 0;
    box-shadow: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-transform: inherit;
    text-transform: uppercase;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &__list {
    position: absolute;
    right: -4px;
    top: calc(100% + 8px);
    z-index: $top-panel;
    list-style: none;
    margin: 0;
    border-radius: 3px;
    padding: 4px 0;
    min-width: 170px;
    background-color: $color-gray;
    animation: showLangTooltip 0.15s ease-out forwards;
  }

  &__option {
    & + & {
      margin-top: 4px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    color: inherit;

    &--active,
    &:hover,
    &:focus {
      background:
        linear-gradient(
          90.05deg,
          rgba($color-pink, 0.1) 0.04%,
          rgba($color-pink, 0.1) 0.05%,
          rgba($color-green, 0.1) 99.96%
        );
    }

    &--active {
      cursor: not-allowed;
    }
  }
}

@keyframes showLangTooltip {
  0% {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
